.blog-single {
  header {
    @include breakpoint($bp-small-desktop) {
      @include span(10);
      @include post(2);
    }
    background: $white;
    margin: $margin*2 0 2px;
//
    h1 {
      margin: 0;
    }

    .blog-list-date {
      p {
        line-height: 1.3em;
        margin-bottom: 0;
      }
    }
  }
  ul {
    margin-left: 1em;
  }
  figure {
    @include breakpoint($bp-small-desktop) {
      @include span(10);
      @include post(2);
      margin-bottom: 70px;
    }
    img {
      min-width:0;
    }
  }

  .pullquote-container, .youtube-container, .soundcloud-container, .flickr-container {
    @include breakpoint($bp-small-desktop) {
      @include span(10);
      @include post(2);
      margin-bottom: 70px;
    }
  }

  .paragraph:last-of-type {
    .pullquote-container, .youtube-container, .soundcloud-container, .flickr-container {
      margin-bottom: 2px;
    }
  }

  .text-wrapper {
    margin-bottom: 70px;
    background-color: #ffffff;
    @include breakpoint($bp-small-desktop) {
      @include span(10);
      @include post(2);
    }
    .text-container {
      margin-bottom: 0;
      @include breakpoint($bp-small-desktop) {
        @include span(7 of 10);
      }
    }
  }

  .sub-heading {
    padding-top: 0;
  }

  // Give the image a 2px bottom margin only if it's the first paragraph
  .paragraph:first-of-type {
    .image-container {
      margin-bottom: 2px;
    }
  }

  .blog-post-name {
    @include breakpoint($bp-desktop) {
      @include span(7);
      border-right: 2px solid #ecedea;
      padding: $padding;
    }

    padding: $padding $padding 0 $padding
  }

  .blog-post-back-link {
    @include breakpoint($bp-desktop) {
      @include span(3);
      padding: $padding;
    }

    padding: 0 $padding 14px $padding;
  }

  .blog-disqus-comments {

    padding: 20px;
    background-color: $white;
    float: left;
    width: 100%;

    @include breakpoint($bp-small-desktop) {
      @include span(10);
    }
  }

  .blog-disqus-comments-inner {

    @include breakpoint($bp-small-desktop) {
      @include span(7 of 10);
    }
  }

  /**
   * Simple pager.
   */
  .simple-pager {
    @extend .container;
    background-color: white;
    margin-bottom: 70px;

    @include breakpoint($bp-small-desktop) {
      @include post(2);
    }
    clear:both;

    .simple-pager__pager {
      @include span(5 of 10);
      padding: 20px;

      @include breakpoint($bp-small-tablet) {
        transform-style: preserve-3d;
        perspective: 1000;
      }
    }

    .simple-pager__pager--next {
      @include last;
      text-align: right;
    }

    .simple-pager__image {
      @include clearfix;

      float: left;
      width : floor(span(4 of 5));    // Using the floor() function to ensure that fractional percentages don't get used
      max-width: 50px;
      padding-bottom: 20px;

      @include breakpoint($bp-small-tablet) {
        width: floor(span(1 of 5));
        padding-bottom: 0;
        max-width: inherit;
        transform: translateZ(0);   // There are issues with subpixel rendering
      }
    }

    .simple-pager__content {
      @include span(5 of 5);
      @include clearfix;

      @include breakpoint($bp-small-tablet) {
        @include span(4 of 5);
      }
    }

    .simple-pager__link {
      @include special-link;
      display: block;
    }

    .simple-pager__blog-title {
      font-weight: normal;
    }

    .simple-pager__pager--previous {
      .simple-pager__content {
        @include last;
        @include breakpoint($bp-small-tablet) {
          padding-left: 40px;
        }
      }
    }

    .simple-pager__pager--next {
      .simple-pager__image--right {
        @include last;
      }

      .simple-pager__content {
        @include breakpoint($bp-small-tablet) {
          padding-right: 40px;
        }
      }
    }
    
  }

}
